<section class="main-section">
  <div class="section-container">
    <h1>Наскільки ти кіберспортивний експерт</h1>
    <p>Запитання № {{ questionNumber }}</p>
    <p>{{ questionnaireData.question_1.question }}</p>

    <p-radioButton
      *ngFor="let answer of questionnaireData.question_1.answers"
      name="groupname"
      value="{{ answer }}"
      label="{{ answer }}"
      [(ngModel)]="selectedAnswer"
      (onClick)="onAnswerSelected()"
    ></p-radioButton>

    <span>{{ questionNumber }}/{{ questions }}</span>
    <button
      pButton
      type="button"
      label="Продовжити"
      [disabled]="isButtonDisabled"
      (click)="handleClick()"
    ></button>
  </div>
</section>

<router-outlet></router-outlet>
