.main-section {
  display: flex;
  justify-content: center;
  height: 100wh;
  align-items: center;
}

p-radioButton {
  display: block;
  margin-top: 1rem;
  margin-right: 1rem;
}

button {
  margin: 2rem;
  margin-top: 3rem;
  width: 7rem;
  height: 3rem;
}
